/* CSS Document */
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
	background-image: url(../Imágenes/Imágen_de_fondo.jpg);
	background-attachment: fixed;	
}

#navegador{
	width: 100%;
	background-color: white;
	box-shadow: 1px 1px 5px 1px #000;
	position: fixed;
	opacity: 0.7;
}
#navPrincipal{
	width: 600px;
	margin: 5px auto;
}

#navPrincipal ul{
	display: flex;	
	text-decoration: none;	
	font-size: 25px;
}

#navPrincipal ul li{
	list-style: none;
	padding: 10px 20px;
}

#navPrincipal ul li a{
	text-decoration-line: none;
	color: black;	
}


#contenedor{
	width: 95%;
	margin: 20px auto;

}
header img{
	width: 100%;

}

#retroceder{
	margin-left: 20px;
	position: absolute;
	top: 50%;
	background-color: black;
	border-radius: 50px;
	padding: 25px 30px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight:bold;
}
#avanzar{
	position: absolute;
	top: 50%;
	margin-left: 93%;
	background-color: black;
	border-radius: 50px;
	padding: 25px 30px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight:bold;
}

main{
	border-top: 1px solid #BFBFBF;
	display: flex;
}
.asideDerecho iframe{
	width: 100%;
	height: 20%;
}
.asideDerecho a{
	font-size: 30px;
	text-decoration-line: none;
	color: white;
	text-align: center;
	display: block;
}
.asideDerecho a:hover{
	font-size: 35px;
	transition: 0.7s;
}
.asideDerecho p{
	text-align: justify;
}
.asideDerecho h3{
	text-align: center;
	padding: 10px;
}
.asideDerecho h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
.asideDerecho{
	width: 20%;
	padding: 20px;
	color: white;
}
.asideIzquierdo{
	width: 10%;
	text-align: center;
}
.asideIzquierdo img{
	width: 90%;
	padding: 20px 0;
}
.asideIzquierdo img:hover{
	width: 100%;
	transition: 1s;
	
}
#section01{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
	margin-right: 10px;
	margin-left: 10px;
	border-right: 1px solid #BFBFBF;
	border-left: 1px solid #BFBFBF;
}

#section01 figure a{
	text-decoration-line: none;
}
#section01 figure{
	margin-bottom: 20px;
	margin-top: 15px;

}
#section01 figure a figcaption{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	color: white;
	opacity: 0;
}
#section01 figure a img{
	width: 100%;
	vertical-align: bottom;
	height: 88%;
}
#extra01{
	display: flex;
	width: 98%;	
	background-size: 100%;
	margin: 20px auto;	
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
	
}
#section02{
	width: 65%;
}
#imagenSpiderman{
	width: 100%;
	margin-top: 50px;
}

#aside02{
	text-align: center;
	width: 35%;
	margin: 60px 20px 10px 150px;
}

#aside02 p{
	color: white;
	padding: 20px 20px 40px;
}
#aside02 h1{
	color: white;
}

.masCuriosidades{
	color: white;
	text-decoration-line: none;
}

.masCuriosidades h2{
	border: 1px solid white;
	padding: 3px;
}

.masCuriosidades h2:hover{
	color: red;
	transition: 1s;
	border: 1px solid red;	
}

#extra02{
	display: flex;
	padding: 20px;
	width: 95%;
	margin: 20px auto;
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
	
}

.aside03{
	width: 30%;
}

.aside03 img{
	width: 100%;
	margin: 20px;
}

.derechaIzquierda{
	filter: blur(6px);
	height: 450px;
}


.aside04{
	width: 30%;
}

.aside04 img{
	width: 100%;
	margin: 20px auto;
}

.section03{
	width: 40%;
}

.section03 p{
	color: white;
	text-align: center;
	margin-top: 200px;
	font-size: 60px;
	font-family: Bernard MT Condensed;
}

#cines{
	width: 98%;
	margin: 20px auto;
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
}
#cines h1{
	text-align: center;
	color: white;
	padding: 50px;
	color: white;
}

div footer{
	border: 1px solid #BFBFBF;
	text-align: center;
	padding: 20px;
	background-color: #DDDDDD;
}
div footer img:hover{
	width: 45px;
}



